.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal-product .M-product {
    display: none;
    width: 100%;
    border-radius: 1rem;
}

.modal-product .M-product.show {
    display: flex;
}

.modal-thumbnail {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    justify-content: space-between;
    gap: .5rem;
}

.modal-close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.close {
    filter: brightness(1000%);
    width: 1.5rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.close:hover {
    filter: invert(50%) sepia(98%) saturate(559%) hue-rotate(342deg) brightness(97%) contrast(109%);
}

.modal-product {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 640px;
}

.modalProduct {
    display: none;
    width: 100%;
    border-radius: 1rem;
}

.modalProduct.show {
    display: flex;
}

.modal-thumbnail {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
    gap: .5rem;
}

.M-thumbnail {
    max-width: 92px;
    max-height: 92px;
    border: 2px solid transparent;
    border-radius: 1rem;
    cursor: pointer;
    display: grid;
    place-items: center;
    background-color: transparent;
    overflow: hidden;
    padding: 0;
}

.M-thumbnail.active {
    border: 2px solid rgb(255, 125, 26);
}

.M-thumbnail:hover {
    opacity: 75%;
}

.previous-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 293px;
    margin-left: -27px;
    height: 54px;
    width: 54px;
    background-color: var(--Pale-orange);
    border-radius: 2rem;
    cursor: pointer;
}

.previous-icon {
    padding-right: 4px;
}

.previous-container:hover .previous-icon {
    filter: invert(50%) sepia(98%) saturate(559%) hue-rotate(342deg) brightness(97%) contrast(109%);
}

.next-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 293px;
    margin-left: 613px;
    height: 54px;
    width: 54px;
    background-color: var(--Pale-orange);
    border-radius: 2rem;
    cursor: pointer;
}

.next-icon {
    padding-left: 3px;
}

.next-container:hover .next-icon {
    filter: invert(50%) sepia(98%) saturate(559%) hue-rotate(342deg) brightness(97%) contrast(109%);
}

@media screen and (max-width: 1200px) {
    .modal {
        display: none;
    }

    .overlay {
        display: none;
    }
}